a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: #3f3f50;
	color: #d1d1db;
	line-height: 1.3;
	font-size: 22px;
	padding: 20px;
}

a {
	color: #f5d489;
}

p {
	max-width: 1000px;
}

li::marker {
	color: #f5d489;
}

.task-h1 {
	color: #cab31f;
}
.task-p {
	color: #cab31f;
	font-size: 35px;
}
.task-h2 {
	border-top: 3px solid #d1d1db;
	padding-top: 10px;
}
