a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: #3f3f50;
	color: #d1d1db;
	line-height: 1.3;
	font-size: 22px;
	padding: 20px;
}

a {
	color: #f5d489;
}

p {
	max-width: 1000px;
}

li::marker {
	color: #f5d489;
}